{{define "title"}}Create a Blog{{end}} {{define "main"}}
<form action="/blog/create" method="POST">
	<input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
	<div>
		<label>title:</label>
		{{with .Form.FormErrors.title}}
		<label class="error">{{.}}</label>
		{{end}}
		<input type="text" name="title" value="{{.Form.Title}}" />
	</div>
	<div>
		<label>content:</label>
		{{with .Form.FormErrors.content}}
		<label class="error">{{.}}</label>
		{{end}}
		<textarea name="content">{{.Form.Content}}</textarea>
	</div>
	<div>
		<input type="submit" value="Publish blog" />
	</div>
</form>
{{end}}
