{{define "title"}}Create a Blog{{end}} {{define "main"}}
<form action="/blog/create" method="POST">
	<div>
		<label>User id:</label>
		{{with .Form.FormErrors.user_id}}
		<label class="error">{{.}}</label>
		{{end}}
		<input type="text" name="user_id" value="{{.Form.User_id}}" />
	</div>
	<div>
		<label>title:</label>
		{{with .Form.FormErrors.title}}
		<label class="error">{{.}}</label>
		{{end}}
		<input type="text" name="title" value="{{.Form.Title}}" />
	</div>
	<div>
		<label>content:</label>
		{{with .Form.FormErrors.content}}
		<label class="error">{{.}}</label>
		{{end}}
		<textarea name="content">{{.Form.Content}}</textarea>
	</div>
	<div>
		<input type="submit" value="Publish blog" />
	</div>
</form>
{{end}}
<!--
  TODO:
  Need to get rid of user_id field -> this can done once auth code is added and we can check user_id via session
-->
