{{define "title"}}Home{{end}} {{define "main"}}
<h1>Lachlan Stephan</h1>
<h2>About me</h2>
<p>
	I am a backend leaning web dev who loves programming, sports and video games.
</p>

<p>Some things worth noting.</p>
<ul>
	<li>I live with my partner and my dog - it's very wholesome</li>
    <li>
        I'm trying to read more and in turn I'm starting to enjoy writing - part of the reason for this site.
    </li>
	<li>
		I love tennis. Have played for ~12 years now and was a professional
		coach for ~8 of those before switching to a career in software.
	</li>
</ul>
{{end}}