{{define "title"}}Home{{end}} {{define "main"}}
<h1>Lachlan Stephan</h1>
<h2>About me</h2>
<p>
	I am a backend leaning web dev who loves programming, sports and video games
</p>

<p>Some things worth noting.</p>
<ul>
	<li>I live with my partner and my dog - it's very wholesome</li>
	<li>
		Learning new things is great, I think this is why working with the web
		suits me.
	</li>
	<li>
		I love tennis. Have played for ~12 years now and was a professional
		coach for ~8 of those before switching to a career in software.
	</li>
	<li>
		Indie Rock is the best genre out there, The Killers & The Kings of Leon
		are musical gods to me.
	</li>
	<li>
		It's okay If something is done wrong as long as the intentions and
		efforts were good.
	</li>
</ul>
{{end}}

<!-- 
    add about section
    add contact section - add links (github, linkedin, email)
-->
