{{define "nav"}}
<nav>
	<div>
		<a aria-label="link to home page" href="/">Home</a>
		<a aria-label="link to blogs page" href="/blog">Blog</a>
	</div>
	<div class="user-actions-container">
		{{if .IsAuthenticated}}
		<a aria-label="link to contribute" href="/">
			<button>Contribute</button>
		</a>
		<form action="/user/logout" method="POST">
			<input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
			<button>Logout</button>
		</form>
		{{else}}
		<a aria-label="link to user login" href="/user/login">
			<button>Login</button>
		</a>
		<a aria-label="link to user login" href="/user/signup">
			<button>Sign up</button>
		</a>
		{{end}}
	</div>
</nav>
{{end}}
