* {
	font-family: "Fira Code", monospace;
}

body {
	padding: 1em;
	margin: 0 auto;
	width: 50%;
}

pre {
	background-color: lightgray;
	padding: 0.5rem;
	border-radius: 2px;
	overflow: auto;
}

.flash {
	padding: 1rem;
	border: 1px solid lightgray;
	border-radius: 2px;
	margin: 1rem 0;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
}

form > div {
	display: grid;
}

.error {
	color: red;
}

.error + input {
	border: 1px solid red;
}

@media (max-width: 1000px) {
	body {
		width: unset;
		margin: unset;
	}
}
