* {
	font-family: "Fira Code", monospace;
}
body {
	padding: 1em;
	margin: 0 auto;
	width: 50%;
}

pre {
	background-color: lightgray;
	padding: 0.5rem;
	border-radius: 2px;
	overflow: auto;
}

.flash {
	padding: 1rem;
	border: 1px solid lightgray;
	border-radius: 2px;
	margin: 1rem 0;
}

@media (max-width: 800px) {
	body {
		width: unset;
		margin: unset;
	}
}
